.searchByMap
  width: 100%

//map
//  position: relative

.map_container
  background-image: url("../images/wine-bottles1.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  padding: 2px
  a:hover
    text-decoration: none
    color: $darkRed
    font-weight: bold
    transition: 0.5s

.map_container_nameBlock
  display: inline-block
  position: absolute

.map_text
  color: white
  font-size: 18px
  margin-bottom: 0

//area:focus
//outline: none

.piedmont
  top: 80px
  left: 100px

.venice
  top: 50px
  left: 250px

.lombardy
  top: 100px
  left: 175px

.marche
  top: 180px
  left: 270px

.campania
  top: 300px
  left: 330px

.burgundy
  top: 225px
  left: 810px

.provence
  top: 405px
  left: 880px

.champagne
  top: 135px
  left: 830px

.loire_valley
  top: 185px
  left: 680px

.bordeaux
  top: 355px
  left: 650px

.сatalonia
  top: 175px
  left: 1405px

.valencia
  top: 315px
  left: 1305px

.castilla_la_mancha
  top: 265px
  left: 1235px

.castilla_leon
  top: 145px
  left: 1145px