@import "_variables", "_intro", "_content", "_maps"
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic')

html
  scroll-behavior: smooth

body
  margin: 0
  padding: 0
  position: relative
  font-family: 'Playfair Display', serif
  font-size: 23px
  background-color: rgba(255,248,225, 0.7)


