@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.intro {
  position: absolute;
}
.intro ul, .intro li {
  list-style: none;
}
.intro a {
  text-decoration: none;
}
.intro a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgba(127, 0, 0, 0.85);
  color: white;
  display: flex;
  justify-content: space-between;
}
header img {
  margin: 15px;
  margin-left: 20px;
  width: 25px;
}
header button {
  background-color: transparent;
  border: none;
}
header button:focus {
  border: none;
  outline: none;
}

.headerForm {
  margin-left: auto;
  margin-right: 20px;
  width: 20%;
}

.search_bar-input {
  margin: 10px 95px 0 0;
  width: 90%;
  height: 35px;
  border-radius: 6px;
  border: solid 0.5px lightgrey;
}
.search_bar-input::-webkit-input-placeholder {
  color: lightgrey;
  padding-left: 5px;
}
.search_bar-input:focus {
  outline: none;
  border: solid 1.5px #1e88e5;
}
.search_bar-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.menu_block {
  height: 91.25%;
  min-width: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(127, 0, 0, 0.85);
  z-index: 100;
  transition: 0.5s;
  transform: translateX(-100%);
}

.menu_block_active {
  transform: translateX(0%);
}

.menu_block_inactive {
  transform: translateX(-100%);
}

.drop_menu {
  display: flex;
  padding-top: 40px;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 100;
}
.drop_menu a {
  text-decoration: none;
  font-size: 24px;
  outline: none;
  color: white;
  width: 300px;
  padding: 17px 40px;
  transition: 0.3s;
}
.drop_menu a:hover {
  background-color: #fff3e0;
  font-weight: bold;
  color: #7f0000;
  transition: 0.3s;
  font-size: 26px;
}

.img_for_drop_menu:hover {
  cursor: pointer;
}
.img_for_drop_menu:hover .drop_menu {
  display: block;
}

.carousel-inner {
  height: 84vh;
}

.intro__text {
  width: 68vw;
  height: 47vh;
  text-align: left;
  padding: 70px 100px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: #fff8e1;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
}
.intro__text h1 {
  font-family: "Noto Serif", serif;
  font-size: 60px;
  font-weight: 700;
}
.intro__text p {
  margin-top: 20px;
  font-size: 32px;
}

.carousel-caption {
  position: absolute;
  top: 100px;
}

.carousel-control-icon {
  background-image: url("../images/move-to-next.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
  margin-left: -60px;
}

.carousel-control-next-icon {
  margin-left: 60px;
}

.move_down {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 93vh;
  left: 47vw;
  transition: 0.4s;
}
.move_down:focus {
  outline: none;
}
.move_down:hover {
  transition: 0.4s;
  transform: translateY(-8px);
  cursor: pointer;
}

.content {
  position: absolute;
  top: 99vh;
  width: 100%;
}

.b-wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #fff8e1;
  padding: 45px;
  border-radius: 10px;
}

.wrapper {
  width: 55%;
  margin: 0 auto;
  border-radius: 10px;
}

.mainSearchForm {
  display: flex;
  align-items: center;
}

.mainInput {
  font-size: 23px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  border-radius: 6px;
  border: solid 0.5px lightgrey;
}
.mainInput::-webkit-input-placeholder {
  color: lightgrey;
  padding-left: 5px;
}
.mainInput:focus {
  outline: none;
  transition: 0.3s;
  border: solid 1.5px #1e88e5;
}
.mainInput:focus::-webkit-input-placeholder {
  color: transparent;
}

.alert {
  padding: 6px;
  margin: 0;
}

.search__results ul > li {
  margin: 5px 0;
}

.result-point {
  display: flex;
  padding-left: 10px;
  margin-bottom: 5px;
}

#search_bar_results {
  display: none;
}

.options, .options_drop {
  font-weight: bold;
  padding-right: 10px;
}

.searchByMap {
  width: 100%;
}

.map_container {
  margin: 30px 0 20px 0;
  background-image: url("../images/wine-bottles1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 2px;
}

.map_container_nameBlock {
  display: inline-block;
  position: absolute;
}
.map_container_nameBlock button {
  transition: 0.3s;
  border: none;
  background: transparent;
  color: #7f0000;
}
.map_container_nameBlock button:hover {
  transform: translateZ(40px);
  font-weight: bold;
}

.piedmont {
  top: 80px;
  left: 100px;
}

.venice {
  top: 50px;
  left: 220px;
}

.tuscany {
  top: 180px;
  left: 200px;
}

.northeastern_italy {
  top: 122px;
  left: 220px;
}

.burgundy {
  top: 225px;
  left: 810px;
}

.provence {
  top: 385px;
  left: 815px;
}

.champagne {
  top: 135px;
  left: 780px;
}

.loire_valley {
  top: 185px;
  left: 680px;
}

.bordeaux {
  top: 355px;
  left: 650px;
}

.сatalonia {
  top: 185px;
  left: 1335px;
}

.valencia {
  top: 315px;
  left: 1305px;
}

.northern_spain {
  top: 120px;
  left: 1100px;
}

.andalucia {
  top: 320px;
  left: 1150px;
}

.result-option_wine {
  padding-left: 20px;
}
.result-option_wine:hover {
  font-weight: bold;
  cursor: pointer;
}

footer {
  position: relative;
  background-color: rgba(127, 0, 0, 0.9);
  color: white;
}

.footer_content {
  height: 60px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.footer_content div {
  padding-left: 260px;
}
.footer_content a {
  padding: 6px;
}
.footer_content a img {
  width: 40px;
}

#search_bar_results_drop {
  display: none;
  transition: 0.5s;
}

.pop-up {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 70px;
  position: fixed;
  top: 0;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  background-color: rgba(255, 248, 225, 0.7);
  background-image: url("../images/фон.png");
  background-size: 100%;
}

/*# sourceMappingURL=css.style-compiled.css.map */
